.container {
    position: fixed;
    background-color: black;
    bottom: 0;
    width: 100vw;
}

.content {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px 0;
}

.about {
    color: var(--white);
}

.socials {
    display: flex;
    gap: 1rem;
}