.container {
    position: relative;
    top: 0;
    display: flex;
    justify-content: center;
    /* align-items: center; */
}

.content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 70vw;
    background: rgb(0, 0, 0);
    margin: 40px;
    border-radius: 10px;
    padding: 0 20px;
}

.list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    font-size: 1rem;
    font-weight: bold;
    color: var(--white);
    letter-spacing: 1px;
    cursor: pointer;
}

.list>li {
    padding: 0 40px;
    text-decoration: none;
}

.list-item {
    background-color: var(--red);
    border-radius: 5px;
    padding: 10px 40px;
    font-size: 1rem;
    font-weight: bold;
    color: var(--white);
    border: none;
    letter-spacing: 1px;
    cursor: pointer;
}

.logo {
    border-radius: 50%;
}

.navlink {
    /* Additional styling */
    position: relative;
    outline: none !important;
    transition: 0.2s;
}

.navlink::after {
    content: "";
    background-color: black;
    position: absolute;
    bottom: 0;
    left: 0;
    height: 4px;
    width: 0;
    transition: 0.2s;
}

.navlink:hover::after,
.navlink:focus::after {
    background-color: var(--red);
    width: 100px;
}