.container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 5rem;
}

.card {
    border-radius: 30px;
    background: black;
    padding: 6rem;
}

.header {
    display: flex;
    justify-content: space-between;
}

.round {
    display: flex;
    flex-direction: column;
    text-align: left;
    line-height: 29.16px;
}

.round>h2 {
    font-size: 24px;
    font-weight: 600;
    color: aliceblue;
}

.timer>h1 {
    color: var(--red);
}


.questions {
    margin: 40px 0;
    font-size: 20px;
    font-weight: 400;
    line-height: 19.44px;
    text-align: center;
    color: var(--white);
}

.options {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 1.3rem;
}

.option-button {
    padding: 10px 20px;
    background-color: var(--off-white);
    outline: none;
    border: none;
    font-size: 16px;
    display: flex;
    align-items: center;
    border-radius: 10px;
    cursor: pointer;
}
.option-button:hover {
    box-shadow: 0 0 14px 0 var(--off-white);
}

.option-numbering {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    height: 40px;
    width: 40px;
    margin: 0 20px;
    color: var(--white);
    background-color: black;
}

.submit {
    display: flex;
    justify-content: center;
}

.submit-btn {
    width: 100%;
    font-size: 18px;
    font-weight: bold;
    margin-top: 25px;
    padding: 14px 20px;
    background-color: var(--red);
    outline: none;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    text-align: center;
    color: var(--off-white);
    letter-spacing: 1px;
}
.submit-btn:hover {
    box-shadow: 0 0 14px 0 var(--red);
}